<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"> 
        
    <title>Daijoubu?</title>
</head>
<body style="font-family: 'Poppins', sans-serif;">
    

    <div class="container pt-5">
        <div id="judul" class="row">
            <div class="col-md-12 text-center">
                <h3><b>List Kegiatan>></b></h3>
                <h5>Ayo ikuti salah satu kegiatan atau tambah kegiatan mu sendiri!</h5>
                <br>
                <hr>
                <h3>Tambahkan Kegiatan Baru</h3>
                <form action="" method="post" class="mt-4 kegiatan-form">
                    {{form_kegiatan}}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary mt-2" style="background-color: black;" value="Tambahkan"> 
                </form>
            </div>
        </div>
    </div>


    <div class="container pt-5">
        <div class="row ">
            {% for i in kegiatan %}
            <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{i.0.nama_kegiatan}}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                        <h6>Peserta:</h6>
                        {% for j in i.1 %}
                        <li class="list-group-item">{{j.nama_orang}}</li>
                        {% endfor %}
                        </ul>
                        <button type="button" class="btn btn-primary" style="background-color: black;" data-toggle="modal" data-target="#modal" onclick="tambahPeserta('{{i.0.nama_kegiatan}}', '{{i.0.id}}')">Tambahkan Peserta</button>
                   </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <br>
    <br>

    <div class="container-fluid pb-5">
        <div class="row">
            <div class="modal" tabindex="-1" role="dialog" id="modal">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Menambahkan Peserta</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        Kegiatan : <span id="namaKegiatan"></span>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id_kegiatan" id="idKegiatan" value="">
                            {{form_orang}}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" style="background-color: black;" data-dismiss="modal">Tutup</button>
                      <button type="submit" class="btn btn-secondary" style="background-color: black;">Daftar Yuk</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>



    <script>
        function tambahPeserta(namaKegiatan, idKegiatan){
            document.getElementById('namaKegiatan').innerHTML=namaKegiatan;
            document.getElementById('idKegiatan').value=idKegiatan;
    }
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body> 
</html>