body {
    background-color: rgb(233, 233, 233);
}

#judul h3, h5 {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: black;
    text-align: center;
    padding-bottom: 15px;
}

#judul .btn {
    font-family: 'Poppins-Bold', sans-serif;
    font-weight: bolder;
    font-style: italic;
    padding: 0px 10px;
    font-size: 20px;
    border-radius: 30px;
    width: 30%;
    margin-top: 10px;
}

hr {
    border-top: 4px solid rgb(0, 0, 0);
    border-radius: 4px;
  }
